{% extends "smartmin/list.html" %}

{% block search-form %}
<form class="form-inline" role="form">
  <select name="type" style="width:180px;margin-bottom:0px" class="form-control">
    <option value="0" {% if filtered_type == 0 %}selected{%endif%}>-----</option>
    {% for type in types %}
    <option value="{{ type.id }}" {% if filtered_type.id == type.id %}selected{%endif%}>{{ type.name }}</option>
    {% endfor %}
  </select>
  <input type="text" class="input-medium search-query form-control" name="search" value="{{ search }}">
  <button type="submit" class="btn btn-default">Search</button>
</form>
{% endblock %}


{% block table-buttons %}
<div class="pull-right">
  <form class="form-inline" action="{% url 'django_quickblocks.quickblock_create' %}" method="get" >
    <select name="type" style="width:180px;margin-bottom:0px" class="form-control">
    {% for type in types %}
      <option value="{{ type.id }}" {% if filtered_type.id == type.id %}selected{%endif%}>{{ type.name }}</option>
    {% endfor %}
    </select>
    <button class="btn btn-primary" type="submit" value="Add" name="Add">Add</button>
  </form>
</div>
{% endblock %}
